@use 'variables.scss';

.button {
  border: none;
  // width: 16px;
  // height: 16px;
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: #333333;
  background-color: inherit;
}

.button__description {
  @media (max-width: variables.$desktop-width) {
    display: none;
  }
}
