@use "../common/variables.scss";

.form__field {
  margin: 0;
  padding: 0;
  border: none;
}

.form__title {
  padding: 0;
  font-family: "Montserrat-600", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 20px;
}

.form__range-slider {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 280px;

  @media (min-width: variables.$tablet-width) {
    gap: 21px;
    width: 223px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 318px;
    gap: 25px;
  }
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.form__buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: variables.$tablet-width) {
    flex-direction: row;
    grid-column: 1 / 4;
    justify-content: center;
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 1 / 2;
    margin-top: 10px;
  }
}

.form__button {
  @media (min-width: variables.$desktop-width) {
    width: 100%;
  }
}
