@use '../common/variables.scss';

.menu {
  list-style-type: none;
  padding: 0;

  &--open {
    @media (max-width:variables.$tablet-width) {
      position: absolute;
      display: flex;
      z-index: 1;
      flex-direction: column;
      width: 100%;
      top: 100%;
      left: 0;
      background-color: #fff;
      border-bottom: 1px solid #F0EBFF;
    }
  }
}

.menu__link {
  padding: 20px 0;
  width: 100%;
  text-align: center;
  border-top: 1px solid #F0EBFF;

  @media (min-width:variables.$tablet-width) {
    padding: 32px 20px;

    &--current {
      color: $primary-color;
      border-bottom: 2px solid $primary-color;
      padding-bottom: 30px;
    }
  }

  &:hover, &:focus {
    color: $primary-color;
  }

  &:active {
    color: $primary-color;
    background-color: #F0EBFF;
  }
}
