@use "../common/variables.scss";

.slider__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider__item {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 20px;
  justify-items: flex-start;

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: auto 97px auto;
    grid-template-rows: 170px 96px 136px 190px;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.slider__image {
  margin-bottom: 10px;
  grid-column: 1 / 3;
  justify-self: center;

  @media (min-width: variables.$tablet-width) {
    grid-row: 5 / 6;
    margin-top: 20px;
    margin-bottom: -476px;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 10px 0 25px;
    grid-column: 1 / 2;
    grid-row: 1 / 5;
  }
}

.slider__badge {
  grid-column: 1 / 3;
  margin: 0 auto 4px;

  @media (min-width: variables.$tablet-width) {
    grid-row: 1 / 2;
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    margin: 150px 0 4px;
  }
}

.slider__title {
  margin: 0 0 10px;
  color: #333333;
  text-align: center;
  font-family: "Montserrat-700", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.72px;
  grid-column: 1 / 3;

  @media (min-width: variables.$tablet-width) {
    grid-row: 2 / 3;
    justify-self: center;
    font-family: "Montserrat-700", sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 1.12px;
    margin-bottom: 16px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    justify-self: flex-start;
  }
}

.slider__description {
  margin: 0 0 20px;
  text-align: center;
  color: #333333;
  font-size: 14px;
  line-height: 20px;
  grid-column: 1 / 3;

  @media (min-width: variables.$tablet-width) {
    grid-row: 3 / 4;
    font-size: 20px;
    line-height: 32px;
    justify-self: center;
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    margin-bottom: 40px;
    justify-self: flex-start;
    text-align: left;
  }
}

.slider__prices {
  display: flex;
  gap: 6px;
  grid-column: 1 / 2;
  align-items: center;
  justify-self: flex-end;

  @media (min-width: variables.$tablet-width) {
    grid-row: 4 / 5;
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    justify-self: flex-start;
    margin: 4px 0 0;
  }
}

.slider__old-price {
  text-decoration: line-through;
  color: $primary-color;
  font-size: 16px;
  line-height: 32px;
}

.slider__new-price {
  font-family: "Montserrat-600", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.slider__link {
  padding: 8px 20px;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  background-color: $primary-color;
  border-radius: 4px;
  grid-column: 2 / 3;

  @media (min-width: variables.$tablet-width) {
    grid-row: 4 / 5;
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
  }
}

.slider__button {
  border: none;
  background: none;
  height: 100%;
  width: 20px;
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;

  @media (min-width: variables.$tablet-width) {
    width: 80px;
  }

  &::before {
    content: "";
    display: block;
    width: 11px;
    height: 20px;
    margin: 0 auto;
    background: url("../../icons/slider-arrow.svg") no-repeat center;
  }


  &:nth-child(2) {
    left: unset;
    right: 0;
  }

  &:nth-child(2)::before {
    transform: rotate(180deg);
  }
}


.slider__pagination {
  display: none;

  @media (min-width: variables.$desktop-width) {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 7px;
  }
}

.slider__pagination-button {
  @media (min-width: variables.$desktop-width) {
    background: none;
    border: none;
    height: 24px;
    width: 62px;
    display: flex;
    align-items: center;
    padding: 0;

    &::before {
      content: "";
      width: 100%;
      height: 4px;
      background-color: #ffffff;
    }

    &--current::before {
      background-color: $primary-color;
    }
  }
}

.slider__br {
  @media (max-width: variables.$tablet-width) {
    display: none;
  }
}
